.title{
  font-size: 36px;
  font-weight: 700;
  font-style:italic;
  text-align: center;
  color: rgb(31, 126, 199);
}
.description{
text-align: center;
font-weight: 700;
color: rgb(4, 56, 104);
}

.bio{
text-align: left;
font-weight: 500;
}
.photo{
  width: 300px;
  height: auto;
}